@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    opacity: 20%;
    object-fit: cover;
    animation: zoom 25s;
    overflow: hidden;
}
@keyframes zoom{
    0%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
}
.info{
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 18%;
    left: 13%;
    overflow: hidden;
}
.info h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
    color: white;
    font-size: 2rem;
    opacity: 0;
    animation: chegar 2s 0.7s forwards;
    overflow: hidden;
}
.info p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-style: italic;
    opacity: 0;
    animation: chegar 2s 0.9s forwards;
    overflow: hidden;
}
#me{
    width: 90%;
    opacity: 0;
    animation: chegar 2s 1.1s forwards;
}
.info .button-initial{
    background-color: rgb(153, 13, 55);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: chegar 2s 1.1s forwards;
    overflow: hidden;
}
.info button:hover{
    color: black;
}
@keyframes chegar{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }

}
/*--------------------------MENU PRINCIPAL-------------------------------------*/
.sidebar{
    width: 100vw;
    height: 5%;
    top: 0;
    position: absolute;
    background-color: rgb(3, 3, 3);
    
}
.menu{
    position: relative;
    margin-top: 1%;
    text-align: right;
}
.menu-item{ 
    height: 5%;
    margin: 1rem;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: inline;
   
}

.menu-item:hover{
    color: gray     
}
.menu-link{
    color: whitesmoke;
    font-weight: bold;
    
}
/*---------------------------------SUB MENU----------------------------------- */
.sub-menu{
    display: none;
    position: absolute;
    right: 8rem;
}
.sub-menu li{
    display: block;
    
}
.menu .menu-item ul li a{
    display: block;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.7rem;
}

/*---------------------------------------------------------------------------------- */
/*---------------------------------PAGINA CONTACT----------------------------------- */
.redesocial-item{
    margin: 1rem 3rem 1rem 0;    
    float: left;
    width: 30%;
}
.redesocial-item a .button-contact{
    background-color: rgba(58, 63, 83, 0.562);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: chegar 2s 1.1s forwards;
    overflow: hidden;
    
}
.redesocial-item a button img{
    height: 20px;
    margin-right: 1px;
}
/*---------------------------------------------------------------------------------- */
/*-------------------------------PAGINA KNOWLEDGE------------------------------------*/
#skills{
    height: 15%;
    background-color: white;
    animation: chegar 2s 1.1s forwards;
    opacity: 0;
    margin-right: 10%;
}